In [1]:
import sys
sys.path.insert(0, r"K:/Thesis/codes/crypto_project")
sys.path.insert(0, r"E:/Thesis/crypto_project")
import os
import sqlite3
import pandas as pd
import numpy as np
from tqdm import tqdm

DATABASE_LOCATION = r"E:/Thesis/database"
from factor_model.model_update.database_generators import (
    RAW_DATA_DB,
    RETURN_DB,
    FACTOR_MODEL_ESTIMATES
)
from typing import Dict

In [2]:
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "database_server.settings")
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
import django

django.setup()

symbol = "BTC-USD"

In [3]:
from crypto_calculator.models import RawPriceData


raw_price_data = RawPriceData.objects.filter(symbol=symbol).values("close", "date")
df = pd.DataFrame(list(raw_price_data))
if len(list(raw_price_data)) > 0:
    df["date"] = df["date"].apply(lambda x: x.strftime("%Y-%m-%d"))
    df.set_index("date", inplace=True, drop=True)

In [4]:
len(df)

3459

In [8]:
df = df.diff()

In [13]:
df.pow(2).ewm(halflife=365, min_periods=20).mean()

                   close
date
2014-09-17           NaN
2014-09-18           NaN
2014-09-19           NaN
2014-09-20           NaN
2014-09-21           NaN
...                  ...
2024-03-02  1.009332e+06
2024-03-03  1.009872e+06
2024-03-04  1.058600e+06
2024-03-05  1.095563e+06
2024-03-06  1.113838e+06

[3459 rows x 1 columns]

In [12]:
df.pow(2).ewm(halflife=365, min_periods=20).mean().pow(0.5).dropna()

                  close
date
2014-09-17          NaN
2014-09-18          NaN
2014-09-19          NaN
2014-09-20          NaN
2014-09-21          NaN
...                 ...
2024-03-02  1004.654988
2024-03-03  1004.924084
2024-03-04  1028.882770
2024-03-05  1046.691370
2024-03-06  1055.385175

[3459 rows x 1 columns]

In [5]:
def create_ewma_std_estimates(df: pd.DataFrame, halflife: float=365, min_periods: float=20) -> pd.DataFrame:
    return df.ewm(halflife=halflife, min_periods=min_periods).std().dropna()

create_ewma_std_estimates(df).to_dict()

{'close': {'2014-10-06': 35.61878459112293,
  '2014-10-07': 36.63784262234197,
  '2014-10-08': 36.48143987833895,
  '2014-10-09': 35.88336563126529,
  '2014-10-10': 35.395634359225355,
  '2014-10-11': 34.898791209201164,
  '2014-10-12': 34.18706424971514,
  '2014-10-13': 33.54257276929729,
  '2014-10-14': 33.08096130102165,
  '2014-10-15': 32.538936506340086,
  '2014-10-16': 31.95859868200554,
  '2014-10-17': 31.406389679466184,
  '2014-10-18': 30.91114249121744,
  '2014-10-19': 30.425173275417475,
  '2014-10-20': 29.94724565166523,
  '2014-10-21': 29.492016525230316,
  '2014-10-22': 29.054297511929096,
  '2014-10-23': 28.95724979239346,
  '2014-10-24': 28.849760406814063,
  '2014-10-25': 29.037534209667175,
  '2014-10-26': 28.98097729396599,
  '2014-10-27': 28.951796038730343,
  '2014-10-28': 28.807480910428072,
  '2014-10-29': 29.270608591624566,
  '2014-10-30': 29.36996834582119,
  '2014-10-31': 29.64218717747635,
  '2014-11-01': 30.299666464426732,
  '2014-11-02': 30.868261821143737,
  '2014-11-03': 31.3097361334778,
  '2014-11-04': 31.60632064805923,
  '2014-11-05': 31.63788665638343,
  '2014-11-06': 31.47610196778173,
  '2014-11-07': 31.427292533941284,
  '2014-11-08': 31.316862186115344,
  '2014-11-09': 31.021944753196717,
  '2014-11-10': 30.722423326970784,
  '2014-11-11': 30.429399959100532,
  '2014-11-12': 30.9977073988625,
  '2014-11-13': 31.423733348429707,
  '2014-11-14': 31.324099284247843,
  '2014-11-15': 31.04586181013611,
  '2014-11-16': 30.835610531947037,
  '2014-11-17': 30.624844161921704,
  '2014-11-18': 30.363212397199515,
  '2014-11-19': 30.12121621037367,
  '2014-11-20': 29.936641599622035,
  '2014-11-21': 29.825586763592298,
  '2014-11-22': 29.69014965436854,
  '2014-11-23': 29.45985836734551,
  '2014-11-24': 29.233607525242824,
  '2014-11-25': 29.009095614683535,
  '2014-11-26': 28.791655551786757,
  '2014-11-27': 28.57631612477168,
  '2014-11-28': 28.367605267453825,
  '2014-11-29': 28.161299869328634,
  '2014-11-30': 27.964604783916336,
  '2014-12-01': 27.77528857759456,
  '2014-12-02': 27.597339584241432,
  '2014-12-03': 27.405440352722362,
  '2014-12-04': 27.218570659947197,
  '2014-12-05': 27.036696727193195,
  '2014-12-06': 26.85504111758106,
  '2014-12-07': 26.676979148283703,
  '2014-12-08': 26.530533948468424,
  '2014-12-09': 26.4600816543808,
  '2014-12-10': 26.45391756945201,
  '2014-12-11': 26.39702917426709,
  '2014-12-12': 26.31898759816467,
  '2014-12-13': 26.292897400472206,
  '2014-12-14': 26.220857426819194,
  '2014-12-15': 26.21362288783354,
  '2014-12-16': 26.489659080833253,
  '2014-12-17': 26.897366418831535,
  '2014-12-18': 27.47135636732619,
  '2014-12-19': 27.859788251823044,
  '2014-12-20': 28.002363560591427,
  '2014-12-21': 28.290791270226418,
  '2014-12-22': 28.381083363979243,
  '2014-12-23': 28.428087448814935,
  '2014-12-24': 28.647176004149557,
  '2014-12-25': 28.91284960750258,
  '2014-12-26': 29.021431663588622,
  '2014-12-27': 29.314414880044033,
  '2014-12-28': 29.565538528221328,
  '2014-12-29': 29.881011930042103,
  '2014-12-30': 30.21239890944785,
  '2014-12-31': 30.370240226040973,
  '2015-01-01': 30.608976756501473,
  '2015-01-02': 30.821163121485295,
  '2015-01-03': 31.718615082027945,
  '2015-01-04': 33.01223587666255,
  '2015-01-05': 33.93513679698135,
  '2015-01-06': 34.53392443100979,
  '2015-01-07': 34.942096397130776,
  '2015-01-08': 35.53532243931009,
  '2015-01-09': 35.961668867989985,
  '2015-01-10': 36.66664766690075,
  '2015-01-11': 37.528443469666165,
  '2015-01-12': 38.29151882685228,
  '2015-01-13': 40.07371328248067,
  '2015-01-14': 43.29241776192845,
  '2015-01-15': 45.175502056638074,
  '2015-01-16': 46.96607115221967,
  '2015-01-17': 48.86755775620215,
  '2015-01-18': 50.35054923347908,
  '2015-01-19': 51.63445564230447,
  '2015-01-20': 52.92013728766568,
  '2015-01-21': 53.81227273121851,
  '2015-01-22': 54.53932485917944,
  '2015-01-23': 55.2382599407989,
  '2015-01-24': 55.66907952422517,
  '2015-01-25': 55.99847029324179,
  '2015-01-26': 56.084782505088384,
  '2015-01-27': 56.2697831196323,
  '2015-01-28': 56.83656499662915,
  '2015-01-29': 57.38222288517931,
  '2015-01-30': 58.00995401691028,
  '2015-01-31': 58.750810326535905,
  '2015-02-01': 59.30867593266358,
  '2015-02-02': 59.68559238156739,
  '2015-02-03': 60.19247478931851,
  '2015-02-04': 60.68182417167098,
  '2015-02-05': 61.28767065728209,
  '2015-02-06': 61.79263508740819,
  '2015-02-07': 62.20216114896918,
  '2015-02-08': 62.649222893521824,
  '2015-02-09': 63.11957919480371,
  '2015-02-10': 63.5726175060342,
  '2015-02-11': 64.01406116763589,
  '2015-02-12': 64.40396940354177,
  '2015-02-13': 64.62248922315288,
  '2015-02-14': 64.63221237663119,
  '2015-02-15': 64.83981039821592,
  '2015-02-16': 65.04724480169007,
  '2015-02-17': 65.1518217677857,
  '2015-02-18': 65.3169289241026,
  '2015-02-19': 65.43682053085506,
  '2015-02-20': 65.51916581266033,
  '2015-02-21': 65.58932720997807,
  '2015-02-22': 65.72831793515886,
  '2015-02-23': 65.83400286662747,
  '2015-02-24': 65.93461592889996,
  '2015-02-25': 66.03981479232145,
  '2015-02-26': 66.14762608682294,
  '2015-02-27': 66.11748824842833,
  '2015-02-28': 66.08197906475866,
  '2015-03-01': 66.0077307188485,
  '2015-03-02': 65.85579449590823,
  '2015-03-03': 65.68156912576117,
  '2015-03-04': 65.54145365770647,
  '2015-03-05': 65.38882192995491,
  '2015-03-06': 65.25077470366467,
  '2015-03-07': 65.09857069007025,
  '2015-03-08': 64.9543227920755,
  '2015-03-09': 64.76166604914046,
  '2015-03-10': 64.56541883308522,
  '2015-03-11': 64.36176573018537,
  '2015-03-12': 64.16318579544279,
  '2015-03-13': 63.98685299875324,
  '2015-03-14': 63.8216558297086,
  '2015-03-15': 63.644459221973236,
  '2015-03-16': 63.458347741549304,
  '2015-03-17': 63.285713683280676,
  '2015-03-18': 63.23478386933281,
  '2015-03-19': 63.15773052892587,
  '2015-03-20': 63.075697261789195,
  '2015-03-21': 63.001535417727375,
  '2015-03-22': 62.889654918595014,
  '2015-03-23': 62.78286661633641,
  '2015-03-24': 62.78884198979541,
  '2015-03-25': 62.78841602203798,
  '2015-03-26': 62.771337395956394,
  '2015-03-27': 62.761209520326275,
  '2015-03-28': 62.71594323343582,
  '2015-03-29': 62.72848426570384,
  '2015-03-30': 62.709202237991434,
  '2015-03-31': 62.707580119810586,
  '2015-04-01': 62.68574726508833,
  '2015-04-02': 62.63112125321418,
  '2015-04-03': 62.56876806608661,
  '2015-04-04': 62.508549856384654,
  '2015-04-05': 62.41565991497444,
  '2015-04-06': 62.34526546705795,
  '2015-04-07': 62.28517590127116,
  '2015-04-08': 62.26682782138354,
  '2015-04-09': 62.25427994482917,
  '2015-04-10': 62.28540086124204,
  '2015-04-11': 62.310710267249114,
  '2015-04-12': 62.33582937639049,
  '2015-04-13': 62.435564622279514,
  '2015-04-14': 62.57101063380563,
  '2015-04-15': 62.66701997018591,
  '2015-04-16': 62.72649094796038,
  '2015-04-17': 62.821286723579775,
  '2015-04-18': 62.90865072167348,
  '2015-04-19': 62.99728156674287,
  '2015-04-20': 63.06826656421707,
  '2015-04-21': 63.07047938353966,
  '2015-04-22': 63.07684746305708,
  '2015-04-23': 63.06843134603175,
  '2015-04-24': 63.08746225485725,
  '2015-04-25': 63.13349167714162,
  '2015-04-26': 63.22163005410554,
  '2015-04-27': 63.24417212342464,
  '2015-04-28': 63.28473022966339,
  '2015-04-29': 63.32285303945644,
  '2015-04-30': 63.301129567010285,
  '2015-05-01': 63.29919336548796,
  '2015-05-02': 63.2805471007387,
  '2015-05-03': 63.234197996582004,
  '2015-05-04': 63.19308799259472,
  '2015-05-05': 63.16473493074735,
  '2015-05-06': 63.16750607895747,
  '2015-05-07': 63.13059049804702,
  '2015-05-08': 63.06395521094036,
  '2015-05-09': 63.005231144103455,
  '2015-05-10': 62.95240687234899,
  '2015-05-11': 62.89092464564084,
  '2015-05-12': 62.833191258336115,
  '2015-05-13': 62.795513834258486,
  '2015-05-14': 62.75433856966495,
  '2015-05-15': 62.70923422428438,
  '2015-05-16': 62.66969776553558,
  '2015-05-17': 62.62634443474689,
  '2015-05-18': 62.59870282561271,
  '2015-05-19': 62.575446959714895,
  '2015-05-20': 62.54146015125146,
  '2015-05-21': 62.500594634831636,
  '2015-05-22': 62.43812764425965,
  '2015-05-23': 62.38100856550238,
  '2015-05-24': 62.3151452746957,
  '2015-05-25': 62.26405931163394,
  '2015-05-26': 62.212273697831854,
  '2015-05-27': 62.15915600514309,
  '2015-05-28': 62.10491054480216,
  '2015-05-29': 62.05130762320649,
  '2015-05-30': 62.012549637569606,
  '2015-05-31': 61.98671035671059,
  '2015-06-01': 61.994233892633716,
  '2015-06-02': 61.986133365795915,
  '2015-06-03': 61.97636621929365,
  '2015-06-04': 61.97264996064332,
  '2015-06-05': 61.96456791322386,
  '2015-06-06': 61.95207602918422,
  '2015-06-07': 61.951220977074094,
  '2015-06-08': 61.923435273867334,
  '2015-06-09': 61.89230124566621,
  '2015-06-10': 61.86131213215536,
  '2015-06-11': 61.82566081641066,
  '2015-06-12': 61.788063980831964,
  '2015-06-13': 61.74007121897585,
  '2015-06-14': 61.68712336711579,
  '2015-06-15': 61.62177416004215,
  '2015-06-16': 61.514713551945654,
  '2015-06-17': 61.41186762764376,
  '2015-06-18': 61.30992709144833,
  '2015-06-19': 61.219953680396884,
  '2015-06-20': 61.12832719885456,
  '2015-06-21': 61.04033343269519,
  '2015-06-22': 60.94406475176477,
  '2015-06-23': 60.85520274073668,
  '2015-06-24': 60.77744373257319,
  '2015-06-25': 60.692817281892566,
  '2015-06-26': 60.60593830991371,
  '2015-06-27': 60.50055409282304,
  '2015-06-28': 60.39998200104312,
  '2015-06-29': 60.28311895946112,
  '2015-06-30': 60.157587083290586,
  '2015-07-01': 60.03904284230385,
  '2015-07-02': 59.92649823013035,
  '2015-07-03': 59.81267164712327,
  '2015-07-04': 59.69201381606959,
  '2015-07-05': 59.560808731482666,
  '2015-07-06': 59.43221725422823,
  '2015-07-07': 59.306760513078686,
  '2015-07-08': 59.17804485264863,
  '2015-07-09': 59.05103640770962,
  '2015-07-10': 58.92168209186362,
  '2015-07-11': 58.79870883337172,
  '2015-07-12': 58.70584267510425,
  '2015-07-13': 58.58277197803738,
  '2015-07-14': 58.456845086864156,
  '2015-07-15': 58.33066400707282,
  '2015-07-16': 58.20386769294848,
  '2015-07-17': 58.07754248824725,
  '2015-07-18': 57.95271494404769,
  '2015-07-19': 57.82899006247425,
  '2015-07-20': 57.70441026706653,
  '2015-07-21': 57.58096453379398,
  '2015-07-22': 57.45773617663758,
  '2015-07-23': 57.33533952214259,
  '2015-07-24': 57.21565140479585,
  '2015-07-25': 57.096753509503074,
  '2015-07-26': 56.981577017891134,
  '2015-07-27': 56.867797000998195,
  '2015-07-28': 56.75531545519313,
  '2015-07-29': 56.63898680890129,
  '2015-07-30': 56.52196188851729,
  '2015-07-31': 56.404053821230875,
  '2015-08-01': 56.28598017826371,
  '2015-08-02': 56.16857107225671,
  '2015-08-03': 56.05148959815652,
  '2015-08-04': 55.93582665633896,
  '2015-08-05': 55.81982278041595,
  '2015-08-06': 55.704305337609384,
  '2015-08-07': 55.58920358004247,
  '2015-08-08': 55.48817892834207,
  '2015-08-09': 55.3823471168197,
  '2015-08-10': 55.27760560424161,
  '2015-08-11': 55.16777106229413,
  '2015-08-12': 55.06180204366663,
  '2015-08-13': 54.95872236420613,
  '2015-08-14': 54.85425523877311,
  '2015-08-15': 54.7550998984794,
  '2015-08-16': 54.660697146344184,
  '2015-08-17': 54.567419767929444,
  '2015-08-18': 54.62977087156198,
  '2015-08-19': 54.621208917032995,
  '2015-08-20': 54.58140593369913,
  '2015-08-21': 54.55039655144758,
  '2015-08-22': 54.52644741795291,
  '2015-08-23': 54.50992623563017,
  '2015-08-24': 54.56855492957714,
  '2015-08-25': 54.57552478276068,
  '2015-08-26': 54.565019401560434,
  '2015-08-27': 54.557818202383714,
  '2015-08-28': 54.52630672633543,
  '2015-08-29': 54.49979314009361,
  '2015-08-30': 54.47628996608644,
  '2015-08-31': 54.44785475089935,
  '2015-09-01': 54.425558138991505,
  '2015-09-02': 54.39875393267514,
  '2015-09-03': 54.378689144063564,
  '2015-09-04': 54.34754791277498,
  '2015-09-05': 54.30144668930969,
  '2015-09-06': 54.241967794293096,
  '2015-09-07': 54.18240055169322,
  '2015-09-08': 54.113749578873396,
  '2015-09-09': 54.05844482132752,
  '2015-09-10': 54.00222029252588,
  '2015-09-11': 53.94176412140167,
  '2015-09-12': 53.89413235516172,
  '2015-09-13': 53.86029195418221,
  '2015-09-14': 53.82568771717244,
  '2015-09-15': 53.791796627443816,
  '2015-09-16': 53.761367877724624,
  '2015-09-17': 53.72829303424172,
  '2015-09-18': 53.68540189395595,
  '2015-09-19': 53.64659917615597,
  '2015-09-20': 53.60834940388066,
  '2015-09-21': 53.582624611502645,
  '2015-09-22': 53.545488179777664,
  '2015-09-23': 53.509057827688856,
  '2015-09-24': 53.460309101330616,
  '2015-09-25': 53.40977562841347,
  '2015-09-26': 53.36123363735458,
  '2015-09-27': 53.316833938074275,
  '2015-09-28': 53.256054971521465,
  '2015-09-29': 53.201120379768376,
  '2015-09-30': 53.147665070156265,
  '2015-10-01': 53.09048111108124,
  '2015-10-02': 53.03385872834814,
  '2015-10-03': 52.97382294636564,
  '2015-10-04': 52.91485147073741,
  '2015-10-05': 52.851123790887705,
  '2015-10-06': 52.77635605619676,
  '2015-10-07': 52.70745604243673,
  '2015-10-08': 52.63994997129187,
  '2015-10-09': 52.569369176577936,
  '2015-10-10': 52.49703777983974,
  '2015-10-11': 52.42120171660052,
  '2015-10-12': 52.348481970540774,
  '2015-10-13': 52.269136140713115,
  '2015-10-14': 52.1865791557927,
  '2015-10-15': 52.10144658874507,
  '2015-10-16': 52.00954316012685,
  '2015-10-17': 51.91596369236495,
  '2015-10-18': 51.82539324977931,
  '2015-10-19': 51.734146584276075,
  '2015-10-20': 51.64156318747434,
  '2015-10-21': 51.54985829139411,
  '2015-10-22': 51.45834132271899,
  '2015-10-23': 51.36796873312133,
  '2015-10-24': 51.28098645295544,
  '2015-10-25': 51.195988716801644,
  '2015-10-26': 51.11281500719131,
  '2015-10-27': 51.04102120053783,
  '2015-10-28': 50.99073238581158,
  '2015-10-29': 50.9648942536302,
  '2015-10-30': 50.987507444779254,
  '2015-10-31': 50.96164126963435,
  '2015-11-01': 50.97298752535527,
  '2015-11-02': 51.15929471796807,
  '2015-11-03': 51.65813067627902,
  '2015-11-04': 52.21918066581919,
  '2015-11-05': 52.55694815462568,
  '2015-11-06': 52.80417613593744,
  '2015-11-07': 53.1305896444609,
  '2015-11-08': 53.36040475020508,
  '2015-11-09': 53.63143072859999,
  '2015-11-10': 53.66333463568984,
  '2015-11-11': 53.61298198473967,
  '2015-11-12': 53.64885605976727,
  '2015-11-13': 53.67807240887928,
  '2015-11-14': 53.691686520381396,
  '2015-11-15': 53.66307925324412,
  '2015-11-16': 53.66772372051136,
  '2015-11-17': 53.687436209914274,
  '2015-11-18': 53.704407321026565,
  '2015-11-19': 53.691629290376426,
  '2015-11-20': 53.66593336610048,
  '2015-11-21': 53.654751775747144,
  '2015-11-22': 53.63569005919301,
  '2015-11-23': 53.61182444427393,
  '2015-11-24': 53.57920779984277,
  '2015-11-25': 53.570425773024894,
  '2015-11-26': 53.65803430491265,
  '2015-11-27': 53.769919216931896,
  '2015-11-28': 53.876396207237704,
  '2015-11-29': 54.05519880777141,
  '2015-11-30': 54.266385246866875,
  '2015-12-01': 54.39081179423774,
  '2015-12-02': 54.49641478425667,
  '2015-12-03': 54.60916421442495,
  '2015-12-04': 54.730509349999984,
  '2015-12-05': 54.99944362813917,
  '2015-12-06': 55.26234995344904,
  '2015-12-07': 55.565360278803055,
  '2015-12-08': 56.010203370449126,
  '2015-12-09': 56.461773203379785,
  '2015-12-10': 56.88784895827787,
  '2015-12-11': 57.62172026922466,
  '2015-12-12': 58.18407282339847,
  '2015-12-13': 58.7237053761574,
  '2015-12-14': 59.341269129965426,
  '2015-12-15': 60.14145514453348,
  '2015-12-16': 60.82398785027257,
  '2015-12-17': 61.50113800157748,
  '2015-12-18': 62.23152035079778,
  '2015-12-19': 62.932985324017956,
  '2015-12-20': 63.452271445937726,
  '2015-12-21': 63.92956418691674,
  '2015-12-22': 64.38187268739436,
  '2015-12-23': 64.8693009765781,
  '2015-12-24': 65.44636359179941,
  '2015-12-25': 66.0168399564067,
  '2015-12-26': 66.30315778331759,
  '2015-12-27': 66.61914921648417,
  '2015-12-28': 66.92608247863909,
  '2015-12-29': 67.29716686805864,
  '2015-12-30': 67.61990630751481,
  '2015-12-31': 67.96226590351887,
  '2016-01-01': 68.32314352454769,
  '2016-01-02': 68.67167044532229,
  '2016-01-03': 68.99211201992978,
  '2016-01-04': 69.32637287736961,
  '2016-01-05': 69.6476054952655,
  '2016-01-06': 69.9456340956104,
  '2016-01-07': 70.43197103342757,
  '2016-01-08': 70.87467267471703,
  '2016-01-09': 71.27077475188551,
  '2016-01-10': 71.66228175029393,
  '2016-01-11': 72.04966696606571,
  '2016-01-12': 72.35014158712772,
  '2016-01-13': 72.62592963667883,
  '2016-01-14': 72.88520915720707,
  '2016-01-15': 72.8615315647682,
  '2016-01-16': 72.91380722989798,
  '2016-01-17': 72.94560148681911,
  '2016-01-18': 72.99402722900685,
  '2016-01-19': 73.01612739027937,
  '2016-01-20': 73.20793146440134,
  '2016-01-21': 73.34802697062129,
  '2016-01-22': 73.37354891845294,
  '2016-01-23': 73.41577595553855,
  '2016-01-24': 73.51802736184142,
  '2016-01-25': 73.57315692608574,
  '2016-01-26': 73.62856851455946,
  '2016-01-27': 73.69342340399139,
  '2016-01-28': 73.70465291978138,
  '2016-01-29': 73.71243676080542,
  '2016-01-30': 73.71558337955658,
  '2016-01-31': 73.6902695789117,
  '2016-02-01': 73.67653112444746,
  '2016-02-02': 73.66628384825262,
  '2016-02-03': 73.6426995009053,
  '2016-02-04': 73.6802764065182,
  '2016-02-05': 73.70620144946088,
  '2016-02-06': 73.6992857666293,
  '2016-02-07': 73.69203983030934,
  '2016-02-08': 73.67502472754542,
  '2016-02-09': 73.66488130112097,
  '2016-02-10': 73.67112064114623,
  '2016-02-11': 73.67046585914356,
  '2016-02-12': 73.68352108914002,
  '2016-02-13': 73.72127069939145,
  '2016-02-14': 73.81653034648394,
  '2016-02-15': 73.88211497814206,
  '2016-02-16': 73.97511539885387,
  '2016-02-17': 74.10394028865244,
  '2016-02-18': 74.25795521847168,
  '2016-02-19': 74.40212740812562,
  '2016-02-20': 74.62346112948023,
  '2016-02-21': 74.84969982537389,
  '2016-02-22': 75.06688562701866,
  '2016-02-23': 75.19953555769959,
  '2016-02-24': 75.34885936055134,
  '2016-02-25': 75.49384732136343,
  '2016-02-26': 75.67177643509721,
  '2016-02-27': 75.84858033576975,
  '2016-02-28': 76.02722403049748,
  '2016-02-29': 76.22327528794727,
  '2016-03-01': 76.40373787201105,
  '2016-03-02': 76.53072223459499,
  '2016-03-03': 76.64559865076323,
  '2016-03-04': 76.71581361903357,
  '2016-03-05': 76.7476883098995,
  '2016-03-06': 76.80340418195928,
  '2016-03-07': 76.88251114946398,
  '2016-03-08': 76.95874274337616,
  '2016-03-09': 77.03686382437272,
  '2016-03-10': 77.122230364058,
  '2016-03-11': 77.2240932000063,
  '2016-03-12': 77.28543769748755,
  '2016-03-13': 77.35445041260982,
  '2016-03-14': 77.43096724699299,
  '2016-03-15': 77.50747390753055,
  '2016-03-16': 77.58317116672991,
  '2016-03-17': 77.67122796003237,
  '2016-03-18': 77.71696511968595,
  '2016-03-19': 77.76466995929528,
  '2016-03-20': 77.82290654273324,
  '2016-03-21': 77.87826931038275,
  '2016-03-22': 77.94975900993288,
  '2016-03-23': 78.01964794043491,
  '2016-03-24': 78.0821174476407,
  '2016-03-25': 78.14610448714413,
  '2016-03-26': 78.21154811924357,
  '2016-03-27': 78.309081745887,
  '2016-03-28': 78.39504391776063,
  '2016-03-29': 78.45103705140741,
  '2016-03-30': 78.4998592859404,
  '2016-03-31': 78.55417905634273,
  '2016-04-01': 78.61161637258083,
  '2016-04-02': 78.67823239447054,
  '2016-04-03': 78.7436108553849,
  '2016-04-04': 78.80960437659829,
  '2016-04-05': 78.88369595113218,
  '2016-04-06': 78.95409475186868,
  '2016-04-07': 79.02068434668693,
  '2016-04-08': 79.07741442214669,
  '2016-04-09': 79.12965026616207,
  '2016-04-10': 79.1882091054245,
  '2016-04-11': 79.24875874396199,
  '2016-04-12': 79.31771264865176,
  '2016-04-13': 79.38009518488175,
  '2016-04-14': 79.44313513287008,
  '2016-04-15': 79.52463390354387,
  '2016-04-16': 79.60783908846967,
  '2016-04-17': 79.67787763003635,
  '2016-04-18': 79.75086546532106,
  '2016-04-19': 79.84837180709583,
  '2016-04-20': 79.96744222335211,
  '2016-04-21': 80.11813644529073,
  '2016-04-22': 80.2508977453599,
  '2016-04-23': 80.40073908781791,
  '2016-04-24': 80.58482824700306,
  '2016-04-25': 80.7793053561247,

In [8]:
def create_ewma_std_estimates(df: pd.DataFrame, halflife: float=365, min_periods: float=20) -> pd.DataFrame:
    return df.ewm(halflife=halflife, min_periods=min_periods).std().dropna()

In [5]:
from crypto_calculator.models import FactorReturns

return_data = FactorReturns.objects.values("market", "date")
df = pd.DataFrame(list(return_data))
df["date"] = df['date'].apply(lambda x: x.strftime('%Y-%m-%d'))
df.set_index("date", inplace=True, drop=True)

OperationalError: no such table: factor_returns

In [6]:
symbol = "BTC-USD"

with sqlite3.connect(
    os.path.join(DATABASE_LOCATION, RETURN_DB)
) as conn:
    return_df = pd.read_sql_query(
        f"SELECT * FROM returns where symbol = '{symbol}'",
        conn,
    )

In [3]:
with sqlite3.connect(
    os.path.join(DATABASE_LOCATION, RETURN_DB)
) as conn:
    return_df = pd.read_sql_query(
        f"SELECT * FROM returns",
        conn,
    )

In [ ]:
return_df

In [11]:
kk = pd.DataFrame({
    "symbol": list(return_df[return_df["date"] =="2024-09-07"]["symbol"].unique())[0:200]})
kk["value"] = 1
kk.to_csv("E:\Thesis\sample_input\port_200b.csv", index=False, header=False)

In [12]:
kk

           symbol  value
0         0X0-USD      1
1       0XDEV-USD      1
2    1000SATS-USD      1
3       10SET-USD      1
4        1ART-USD      1
..            ...    ...
195    AVINOC-USD      1
196       AVL-USD      1
197       AVT-USD      1
198       AWC-USD      1
199        AX-USD      1

[200 rows x 2 columns]

In [9]:
return_df.tail()

,id,date,return,risk_free_rate,total_return,symbol
3124573,173,2024-09-04,0.015177,5.35,0.015326,ZYPTOTOKEN-USD
3124574,174,2024-09-05,-0.049600,5.35,-0.049451,ZYPTOTOKEN-USD
3124575,175,2024-09-06,-0.098685,5.35,-0.098536,ZYPTOTOKEN-USD
3124576,176,2024-09-07,0.076951,5.35,0.077100,ZYPTOTOKEN-USD
3124577,177,2024-09-08,0.018538,5.35,0.018687,ZYPTOTOKEN-USD